/data/
/code/PS_seds/
/topcat-full.jar
/Aladin/
/VLASS_Aegean/ccache/
/VLASS_Aegean/Tests/
/VLASS_Aegean/venv/
/VLASS_Aegean/VLASS_images_all/
/VLASS_Aegean/VLASS_images_only_PS/
/VLASS_Aegean/VLASS_all_output/
/VLASS_Aegean/VLASS_images_all_10000/
/VLASS_Aegean/VLASS_images_all_old/
/VLASS_Aegean/VLASS_all_output_10000/
/VLASS_Aegean/VLASS_all_output_old/
/code/redundant/


